<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>

</head>
<body>
    <h1>New Page</h1>

    <div class="new-container">
        <div class="form-image"></div>
        <div>
            <form action="/products" method="POST">
        
                <label for="name">Name:</label>
                    <input type="text" name="name" />
                <br>
                <label for="description">description:</label>
                    <input type="text" name="description" />
                <br>
                <label for="price">Price:</label>
                    <input type="number" name="price" />
                <br>
                <label for="quantity">Quantity:</label>
                    <input type="number" name="qty" />
                <br>
                <label for="image">Image:</label>
                <img src="" alt="">
                    <input type="file" name="img" />
                <br>
                <label for="Submit"></label>
                <input type="submit" value="Create" />
        
            </form>
        </div>
    </div>
    
</body>
</html>